body{
  font-family: Calibri , "Hiragino Kaku Gothic ProN" , "游ゴシック" , "Yu Gothic" , "メイリオ", Helvetica,   Arial, sans-serif;
font-size: 12px;
line-height: 1.5;
}
#container{
  width: 1400px;
  height: 582px;
  background: url(../bg/headerbg.png) 0 0 no-repeat;
  background-size: cover;
  position: relative;
  background-color: #000;
}
#circle{
  position: absolute;
  left:50%;
  top:60px;
  margin-left: -212px;
  width: 424px;
  height: 424px;
  background: url(../img/circle.png) center center no-repeat;
}
#type{
  position: absolute;
  left:50%;
  top:-10px;
  margin-left: -220px;
}


#ss img{
  width: 100%;
  height: auto;
  display: block;
}
#wrapper{
  /*background-color: #000;*/
  width: 1400px;
  margin: 0 auto;
}
#wrappertop{
  background-color: #000;
}

#toplogo{
  width: 1400px;
  height: 88px;
  background-color: #000000;
}

#toplogo h1{
  padding-top: 27px;
  text-align: center;
}

#mainvisual{
  background-color: #000000;
}

/*service title*/
#serviceinfo{
  margin: 40px;
  width: 1320px;
  height: 980px;
  background-color: #e4e4e4;
  border-radius: 2px;
  position: relative;
}

#ss h1{
  margin-top: 43px;
  width: 206px;
  height: 55px;
  margin-right: 240px;
}
#ss p{
  width: 189px;
  height: 29px;
  margin-top: 43px;

}
#ss{
  float: right;
  width: 745px;
  display: flex;
  margin-bottom: 45px;
}

/*navigation*/
#gnav ul{
  margin-top: 43px;
  margin-bottom: 71px;
  margin-left: 75px;
  list-style: none;
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

#gnav li{
  width: 235px;
  border-right: 0.5px #777777 solid;
  text-align: center;
}
#gnav li:nth-child(5){
  border: none;
}

figure{
  margin: 0 7px 0 0;
  position: relative;
  overflow: hidden;
  width: 265px;
}
figure p{
  margin: 0 auto;
  padding-top: 20px;
  width: 224px;
  color: #ffffff;
  font-size: 18px;
  text-decoration : none;
}
figure a{
  text-decoration: none;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px #ffffff solid;
  border-bottom: 1px #ffffff solid;
}

figcaption{
  position: absolute;
  top:7px;
  left:0;
  z-index:2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  	-webkit-transition: .3s;
  	transition: .3s;
  	opacity: 0;
  }
figure:hover figcaption {
  	opacity: 1;
  }
/*#serviceinfot{
  width: 1400px;
  background-color: #ffffff;
}*/
/*#serviceinfo{
    background-color: #ffffff;
  }*/
.serviceinfo1{
  margin-left: 115px;
  width: 1090px;
  height: 265px;
  display: flex;
}

.serviceinfo1 img{
  margin: 7px 7px 0 0;
}

.serviceinfo1.last{
  margin-right: 0;
}

.signleft{
  position: absolute;
  left: 48px;
  top:520px;
}
.signright{
  position: absolute;
  right: 48px;
  top:520px;
}
.uline{
  position: absolute;
  top:920px;
  left:470px;
}

#newrelease{
  width: 1171px;
}

/*#release{
  background-color: #ffffff;
}*/
#newrelease img{
  width: 212px;
  height: 53px;
  padding-left: 570px
}

#releaseitem{
  width: 1170px;
  height: 572px;
  display: flex;
  justify-content: space-between;
  margin-left: 116px;
  margin-top: 44px;
  background-color: #ffffff;
}

.rbanner{
  width: 287px;
  height: 572px;
  border-radius: 2px;
  border: 1px #b9ce2e solid;
  background: url(../img/wave.png) center 335px no-repeat;
  overflow: hidden;
  /*background: url(../img/platform.png) center 450px no-repeat;*/
}
.itembanner{
  padding-top: 30px;
  width: 227px;
  margin: 0 auto;
}
.rbanner h3{
  text-align: center;
  width: 170px;
  height: 60px;
  margin-left: 59px;
  margin-top: 20px;
  font-size: 20px;
  color: #b9ce2e;
  letter-spacing: 0.05em;
}
.rbanner h4{
  font-size: 14px;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  color: #9f9f9f;
}

.rbanner p{
  font-size: 16px;
  padding-top: 20px;
  margin: 0 auto;
  color: #9f9f9f;
  width: 215px;
  height: 130px;
  text-align: center;
  letter-spacing: 0.11em;
}
.plati{
  width: 70px;
margin: 0 auto;
}
footer{
  height: 315px;
  width: 1400px;
  background-color: #b9ce2e;
  margin-top: 160px;
}

#footerimg{
  width: 1024px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-left: 185px;
  padding-top: 35px;
}

footer ul{
  display: flex;
  width: 1170px;
  justify-content: space-between;
}
#fnav ul{
  padding-top: 50px;
  margin: 0 auto;
}
#fnav li{
  font-size: 12px;
  color: #ffffff;
}
#fnav li:hover{
  color: #5555555;
}
footer p{
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.11em;
}
